/*
A very very basic replication of gotham theme for IPython Notebook 3.
No CSS for navigation bar (hidden) and notebook intro window, those look crap as of now.

Copy this file to ~./ipython/profile_default/static/custom/custom.css

---
Abhinav Tushar (http://github.com/lepisma)
*/

::selection {background-color: #245361 !important;}
::-moz-selection {background-color: #245361 !important;}
.CodeMirror-selected {background: #0a3749 !important;}

/* No one uses header */
#header {display: none !important;}

#site, #notebook-container, .input_area {
  background-color: #0c1014 !important;
  box-shadow: none;
}

span.ansiblack {color: #11151c;}
span.ansiblue {color: #245361;}
span.ansigray {color: #888ca6;}
span.ansigreen {color: #2aa889;}
span.ansipurple {color: #4e5166;}
span.ansired {color: #c23127;}
span.ansiyellow {color: #edb443;}

/* Code highlighting */
.CodeMirror-code pre {color: #99d1ce;}
.cm-s-ipython span.cm-variable {color: #99d1ce;}
.cm-s-ipython span.cm-variable-2 {color: #99d1ce;}
.cm-s-ipython span.cm-operator {color: #99d1ce;}
.cm-s-ipython span.cm-number {color: #99d1ce;}
.cm-s-ipython span.cm-atom {color: #888ca6;}
.cm-s-ipython span.cm-keyword {color: #245361;}
.cm-s-ipython span.cm-string {color: #2aa889;}
.cm-s-ipython span.cm-property {color: #2aa889;}
.cm-s-ipython span.cm-attribute {color: #2aa889;}
.cm-s-ipython span.cm-builtin {color: #d26937;}
.cm-s-ipython span.cm-def {color: #245361;}
.cm-s-ipython span.cm-error {color: #c23127;}
.cm-s-ipython span.cm-bracket {color: #888ca6;}
.cm-s-ipython span.cm-tag {color: #c23127;}
.cm-s-ipython span.cm-link {color: #d26937;}
.cm-s-default .cm-link {color: #2aa889;}
.cm-s-default .cm-header {color: #245361;}
.cm-s-default .cm-variable {color: #99d1ce;}
.cm-s-default .cm-variable-2 {color: #99d1ce;}
.cm-s-ipython span.cm-comment {
  font-style: normal;
  color: #245361;
}
div.CodeMirror span.CodeMirror-matchingbracket {
  background-color: #d26937;
  color: #0c1014;
}
.cm-s-ipython .CodeMirror-gutters {background: #0c1014; border-right: 0px;}
.cm-s-ipython .CodeMirror-linenumber {color: #0a3749;}
.CodeMirror div.CodeMirror-cursor {
  border-left: 1px solid #d3ebe9;
}

/* Markdown things */
.rendered_html {color: #d3ebe9 !important;}
.rendered_html a {color: #d26937;}
.rendered_html a:hover {color: #99d1ce;}
.rendered_html table, .rendered_html th, .rendered_html tr, .rendered_html td {
  border: 1px  #d3ebe9 solid;
  color: #d3ebe9;
}

/* Cell things */
div.output_area pre {color: #d6d5d4;}
div.input_prompt {color: #245361;}
div.output_prompt {color: #599cab;}
div.input_area {
  border-radius: 0px;
  border: 1px solid #091f2e;
}

div.out_prompt_overlay:hover {background: rgba(240, 240, 240, 0.36);}

.btn {
    border-width: 0px;
    background-color: #245361;
}
.btn:hover {background-color: #599cab;}

div.cell.selected {border-radius: 0px; border-color: #599cab;}
body.edit_mode div.cell.selected {border-radius: 0px; border-color: #2aa889 !important;}
div.text_cell_render, div.output_html {color: #a5a2a2;}

/* Completion */

div.completions {
  box-shadow: none;
  -webkit-box-shadow: none;
  border: 0px;
}

div.completions select {
  background-color: #091f2e;
}

div.completions .introspection {
  color: #99d1ce;
}

/* Pager */

div#pager {
  background-color: #091f2e;
}

div#pager pre {
  background-color: #11151c;
  border-color: #2aa889;
  color: #99d1ce;
}

div#pager .ui-resizable-handle {
  background-color: #245361;
  border-width: 0px;
}

a.ui-button {
  background-color: #99d1ce ;
}
